div.a{
    text-align: center;
    border:2px solid black;
    margin: 150px 100px;
    height: 300px;
   
}
div.b{
    text-align: center;
    border: 10px dotted blue;
    padding: 100px 50px 25px 200px;
    width: 75%;
}
h1.vandana{
    background-color: cadetblue;
    font-size: 50px;
}
p{
    background-color: chocolate;
}4                                                    